@font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local('SF UI Display Light'),url(/fonts/sf-ui-display-light.woff2) format('woff2')
}

@font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local('SF UI Display Medium'),url(/fonts/sf-ui-display-medium.woff2) format('woff2')
}

@font-face {
    font-family: 'SF UI Display Semibold';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local('SF UI Display Semibold'),url(/fonts/sf-ui-display-semibold.woff2) format('woff2')
}
